# Log files
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# BlueJ files
*.ctxt
*.iml

# Cache files
.npm
.eslintcache
lunr-index.json
build.txt
.ghpages-tmp

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.tgz
**/.DS_Store

# License files
licenses.json

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
pids
*.pid
*.seed
*.pid.lock

# Yarn Integrity file
.yarn-integrity

# TypeScript cache
*.tsbuildinfo

# Optional REPL history
.node_repl_history

# Build and temp folders
.settings/
.idea/
.reporting/
bin/
tmp/
build/*
coverage/
target/
log/
site/
dist/
.cache
node_modules

# Env files
.env
