init-author-name=Alexander Rogalskiy
init-author-email=hi@sensiblemetrics.io
init-author-url=http://sensiblemetrics.io
init-version=0.0.0
init-license=MIT

registry=https://registry.npmjs.org/
tag-version-prefix=""

package-lock=false
save=true
save-exact=false
legacy-peer-deps=true
scripts-prepend-node-path=auto
cache=node_cache

auto-install-peers=true
shamefully-hoist=true
strict-peer-dependencies=false
