Jinja2==3.0.3
click-man==0.4.1
mkdocs==1.2.3
Pygments==2.12.0
mkdocs-material==8.2.7
Markdown==3.3.6
markdown-checklist==0.4.3
fontawesome-markdown==0.2.6
markdown-include==0.6.0
pymdown-extensions==9.4
python-markdown-math==0.8
mkdocs-literate-nav==0.4.1
mkdocs-material-extensions==1.0.3
mkdocs-git-revision-date-localized-plugin==1.0.1
mkdocs-awesome-pages-plugin==2.7.0
mkdocs-mermaid2-plugin==0.6.0
mkdocs-plugin-tags==1.0.2
mkdocs-macros-plugin==0.7.0
mkdocs-static-i18n==0.45
mkdocs-minify-plugin==0.5.0
mdx-truly-sane-lists==1.2
mkdocs-include-markdown-plugin==3.3.0
mkdocs-codeinclude-plugin==0.2.0
mkdocs-markdownextradata-plugin==0.2.4
mkdocs-redirects==1.0.4
smarty==0.3.3
#dumb-init>=1.2.5
cookiecutter==1.7.3
mkdocs-git-committers-plugin==0.2.2
mike==1.1.2
mkautodoc==0.1.0
mkdocs-simple-hooks==0.1.5
## The following requirements were added by pip freeze:
arrow==1.2.2
Babel==2.10.1
beautifulsoup4==4.11.1
binaryornot==0.4.4
bracex==2.2.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
csscompressor==0.9.5
Deprecated==1.2.13
EditorConfig==0.12.3
ghp-import==2.1.0
gitdb==4.0.9
GitPython==3.1.27
htmlmin==0.1.12
idna==3.3
importlib-metadata==4.11.3
jinja2-time==0.2.0
jsbeautifier==1.14.3
jsmin==3.0.1
MarkupSafe==2.1.1
mergedeep==1.3.4
packaging==21.3
poyo==0.5.0
pycparser==2.21
PyGithub==1.55
PyJWT==2.3.0
PyNaCl==1.5.0
pyparsing==3.0.8
python-dateutil==2.8.2
python-mpd2==3.0.5
python-slugify==6.1.2
pytz==2022.1
PyYAML==6.0
pyyaml_env_tag==0.1
requests==2.27.1
six==1.16.0
smmap==5.0.0
soupsieve==2.3.2.post1
termcolor==1.1.0
text-unidecode==1.3
urllib3==1.26.18
verspec==0.1.0
watchdog==2.1.7
wcmatch==8.3
wrapt==1.14.1
zipp==3.8.0
