name: Commitlint

on: [ push, pull_request ]

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v3.0.6
        with:
          configFile: './.github/workflows/lint/.commitlintrc.json'
          helpURL: https://rook.io/docs/rook/master/development-flow.html#commit-structure
